body{
    background-color: #eceef1;
    font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
}

header{
    padding: 10px 30px;
    margin-bottom: 50px;
}

.header-items{
    display: flex;
    float: right;
    font-size: 12.5px;
    line-height: 1.5;
}

.header-items a{
    text-decoration: none;
}

.signin-btn{
    margin-left: 5px;
    background-color: #0077C5;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
}

.fa-lock{
    color: white;
    margin-right: 5px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    background-color: white;
    width:30%;
    text-align: center;
    align-items: center;
    border:1px solid black;
}

.form a{
    text-decoration: none;
}

.form p{
    margin-top: 5px;
    font-size: 11.2px;
    line-height: 2;

}

.form div{
    text-align: left;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 15px;
}
.form input{
    width: 350px;
    height: 25px;
    margin-top: 10px;
}

.form button{
    background-color: #0077C5;
    color: white;
    height: 35px;
    width: 360px;
    margin-top: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.form-footer{
    background-color: #eceef1;;
    margin: 0;
    height: 40px;
    padding-top: 30px;
}

.policy{
    margin-top: 30px;
    font-size: 11.5px;
}

footer{
    padding: 25px 35px;
    background-color: white;
    font-size: 13px;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

h2{
    font-weight: normal;
}