body{
    background-color: #eceef1;
    font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
}

header{
    padding: 10px 30px;
}

.header-items{
    display: flex;
    float: right;
    font-size: 12.5px;
    line-height: 1.5;
}

.header-items a{
    text-decoration: none;
}

.signin-btn{
    margin-left: 5px;
    background-color: #0077C5;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
}

.fa-lock{
    color: white;
    margin-right: 5px;
}
